ADMIN_EMAIL=connectwithrev@gmail.com
ALLOWED_ORIGINS=https://www.techchampsbyrev.in,http://localhost:3000
DATABASE_URL="postgresql://postgres.ytmmuncusugyaniztlom:C2j0vTAFHKBbi2d8@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_NAME=postgres
DB_PASS=C2j0vTAFHKBbi2d8
DB_PORT=5432
DB_USER=postgres.ytmmuncusugyaniztlom
JWT_SECRET="rmWGSFpBlEigf9vmL4QGXaL2OlfRPPlwC9jHFN4IIfg="
MAIL_FROM="TechChampsByRev <no-reply@techchampsbyrev.in>"
NODE_ENV=development
PORT=4001
PUBLIC_SITE_URL=https://www.techchampsbyrev.in
RAZORPAY_KEY_ID=rzp_live_SZJtLofNnP8Rpp
RAZORPAY_KEY_SECRET=wgjf09Ny5MIFsP7DKgQlRBXE
RESEND_API_KEY=re_LfhoDpjv_UTDGM45SokioFKDoNGqUPRJ2
 